.info {
  width: 1000px;
  height: 500px;
  background-size: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.info img {
  width: 1000px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0.1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.poster {
  height: 500px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poster-image {
  height: 500px;
  width: 250px;
  padding: 50px;
}

.poster-image img {
  height: 400px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  opacity: 1;
}

h1 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  margin: 0px;
}

h2 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  color: gray;
  margin: 0px;
  margin-top: 5px;
  margin-left: 10px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 40px;
  width: -webkit-fill-available;
  position: relative;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property span {
  font-family: 'Open Sans';
  font-size: 15px;
  margin-right: 8px;
  margin-left: 2px;
}

.donut {
  position: relative;
  right: 0px;
  bottom: 0px;
}

.rating {
  position: absolute;
  right: 11px;
  bottom: 12px;
}

.description {
  font-size: 11px;
  width: 470px;
  margin-bottom: 10px;
  height: -webkit-fill-available;
}

.creator {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12.9px;
  margin-top: 15px;
}

.acters {
  height: 220px;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-top: 10px;
}

.acter {
  cursor: pointer;
  background-color: #2c2c2c;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  max-height: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 20px 0px #0f0f0f;
          box-shadow: 8px 8px 20px 0px #0f0f0f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.acter img {
  width: 100px;
  height: 127px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.acter-card {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  width: 95px;
  height: 37px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.nick {
  font-family: sans-serif;
  font-size: 11px;
  margin-top: 5px;
  margin-left: 5px;
  width: 95px;
  color: gray;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.episodes {
  font-family: sans-serif;
  font-size: 11px;
  margin-top: 5px;
  margin-left: 5px;
  color: gray;
}

.reviews {
  height: 250px;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.review-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.review {
  width: 400px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2c2c2c;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 20px 0px #0f0f0f;
          box-shadow: 8px 8px 20px 0px #0f0f0f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin-top: 2px;
}

.review-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.review-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  font-size: 15px;
}

.profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-family: 'Source Sans Pro';
  border-radius: 40px;
  background-color: #3e1572;
  margin-right: 15px;
}

.review-star {
  color: gold;
  font-size: 15px;
}

.videos {
  height: 250px;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video {
  width: 400px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2c2c2c;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 20px 0px #0f0f0f;
          box-shadow: 8px 8px 20px 0px #0f0f0f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 2px;
}

.video iframe {
  border-width: 0px;
  height: -webkit-fill-available;
  border-radius: 10px;
}

.video-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */